* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #151618;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}

#container {
  background: rgba(255, 255, 255, 0.016);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;

  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;

  padding: 0 24px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
